/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
    background-color: #dcdcde;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;margin: 10px;
}
.d-flex {
    display: flex;
    
   
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}
.justify-content-space-between {
    justify-content: space-between;
}
.header {
    max-width: 960px;
    
    margin: 0 auto;
    
}
.wripper {
    max-width: 960px;
    margin: 0 auto;
    
}
.site-name {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    
    font-style: italic;
    transition: 1s all;
}


.site-name span {
    color: red;
    font-size: 16px;
    
    
}
.top-menu {
}
.a-linck {
    font-size: 18px;
    color: #000000;
    margin-right: 40px;
    padding: 10px;
    line-height: 28px; 
    font-family: Arial, Helvetica, sans-serif;
    
   
}
.a-linck a {
    color: black;
}


.img-contakt {
   
    background-image: url(../img/toyota-camry-2015-05.jpg) ;
    background-repeat: no-repeat;
    
    background-position: 50% 50%;
    height: 400px;
    max-width: 960px;
    margin: 0 auto;
   
}
  
   

.contakts {
    font-size: 50px; 
    align-items: center;
   
    font-weight: bold;
    transition: 2s all;
   

}

.contakts span {
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.contakt-1 a {
   
    color: rgb(99 255 20);
    font: 700 35px/1 sans-serif;

}

.contakt-2 a {
  
  color: rgb(99 255 20);
  font: 700 35px/1 sans-serif;
  
}

.price-info {
    background-color: rgb(56 50 50 / 35%);
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #d4f329;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.informat {
    padding-top: 50px;
   

}
.inf-left {
    max-width: 270px;
    padding-right: 10px;
}
.inf-left-text {
    font-size: 14px;
}
.inf-left-text-title {
    color: #B30404;
    border-top: 1px solid rgb(143, 136, 136);
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.inf-left-text-context {
    padding-bottom: 30px;
}
.inf-right {
}
.title-spr h1 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
}
.inf-spr h2 {
    font-size: 22px;
    color:  #b30404;
    padding-bottom: 20px;
}
.inf-spr-text {
    padding-bottom: 20px;
}
.inf-spr-text p {
    padding-bottom: 10px;
}
.list li {
    margin-left: 20px;
    line-height: 20px;
    list-style-type:disc ;
}
.inf-right-gai {
}
.inf-right {
}
.img-gai {
}
.table {
    border-collapse: collapse;
}
td {
    padding: 0px 10px 5px 0px; 
}
